.box {
    background-color: #FEF9EA;
    position: relative;
}

.header {
    background-color: #FF862F;
    width: 100%;
    height: 55vh;
}

.header-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 70vh;
}

.dog-pic {
    height: 100%;
}

.information-elements {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

h3 {
    font-family: 'HK Grotesk', sans-serif;
    line-height: 60px;
}

p {
    font-family: 'HK Grotesk', sans-serif;
    line-height: 35px;
}

button {
    font-family: 'HK Grotesk', sans-serif;
    background-color: #F48B48;
    color: #FFFFFF;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 12px;
    margin-top: 6em;
}

.custom-bullet {
    list-style-type: none;
    padding-left: 1em;
}

.custom-bullet>li:before {
    content: "✦";
    color: #C4864D;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-family: 'HK Grotesk', sans-serif;
}

.break {
    width: 100%;
    height: 3vh;
    background-color: #F48B48;
}

.pumpkin-dog {
    right: 0;
    top: 60%;
    position: absolute;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin-top: 3em;
    font-family: 'HK Grotesk', sans-serif;
}

.button-break {
    width: 100%;
    height: 1vh;
}

.description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4em;
}

.description p {
    max-width: 80%;
}

.description img {
    max-width: 10%;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    font-family: 'HK Grotesk', sans-serif;
}

.custom-bullet li {
    transition: all 0s ease;
    cursor: pointer;
}

.custom-bullet li:hover {
    font-weight: bold;
    color: #EF8D32;
}

.button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #F48B48;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    transition-duration: 0s;
    border-radius: 12px;
    margin-top: 1.3em;
    font-size: 30px;
}

.button:hover {
    background-color: #D8783A;
    color: white;
    text-decoration: none;
}

.is-size-4 {
    font-weight: bold;
}

.not-found-elements {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    font-family: 'HK Grotesk', sans-serif;
}

.navigation {
    width: 100%;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.icon {
    width: 100%;
}